.container {
  display: grid;
  width: 100%;
  grid-template-rows: auto 1fr;
  grid-template-columns: 96px 1fr 25%;
  grid-row-gap: 8px;
  grid-column-gap: 24px;
  grid-template-areas:
      "avatar name"
      "info bio";
}

.avatar {
  grid-area: avatar;
  width: 100%;
  min-height: 96px;
}

.avatar img {
  width: 100%;
  object-fit: contain;
}

.info {
  grid-area: info;
  padding-right: 0.5rem;
}

.name {
  grid-area: name;
  align-self: flex-end;
}

.fullname {
  display: inline-block;
  border-bottom: 2px solid #eeeeee;
}

.bio {
  grid-area: bio;
}