.pagination {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 40px;
    justify-content: flex-end;
    align-items: center;
}

.paginationItem {
    color: var(--brand-color);
    font-weight: bold;
    cursor: pointer;
    pointer-events: visible;
    margin: 0 1rem;
}

.paginationItem:first-child {
    margin-left: 0;
}
.paginationItem:last-child {
    margin-right: 0;
}

.paginationNone {
    color: black;
    font-weight: normal;
    cursor: auto;
    pointer-events: none;
    user-select: none;
}