.button {
  border-radius: var(--border-radius-default);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  color: white;
  cursor: pointer;
  font-size: 0.9em;
  font-weight: 300;
  max-width: var(--width-input);
  padding: 0.25em 0.5em;
  margin: 0.25em;
  transition: transform 0.1s ease;
  width: 100%;
  background-color: var(--color-brand);
}

.primary {
  background: var(--btn-primary-background);
  color: var(--btn-primary-color);
  border: var(--btn-primary-border);
}

.outline {
  width: auto;
  background: var(--btn-outline-background);
  color: var(--btn-outline-color);
  border: var(--btn-outline-border);
  outline: none;
  box-shadow: none;
}

.button:hover {
  transform: scale(1.05);
}

.disabled {
  background: var(--btn-disabled-background);
  color: var(--btn-disabled-color);
  border: var(--btn-disabled-border);
  pointer-events: none;
  cursor: none;
}

.button:active {
  transform: scale(0.95);
}

@media screen and (max-width: 640px) {
  .button {
    font-size: var(--btn-font-sm);
  }
}