.container {
  display: inline-block;
}

.buttonWrapper {
  display: flex;
  flex-direction: column;
}

.buttonUp, .buttonDown {
  padding: 0;
}

.triangleUp {
  display: block;
  width: 0;
	height: 0;
	border-left: 6.9px solid transparent;  
	border-right: 6.9px solid transparent;  
	border-bottom: 12px solid skyblue; 
}

.triangleDown {
  display: block;
  width: 0;
	height: 0;
	border-left: 6.9px solid transparent;  
	border-right: 6.9px solid transparent;  
	border-top: 12px solid skyblue; 
}