.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  position: relative;
  background-color: #fff;
  padding: 20px;
  width: max(600px, 60vw);
  height: min(600px, 40vh);
  border-radius: 10px;
  overflow: hidden;
}

.close {
  position: absolute;
  right: 8px;
  top: 8px;
}

@media screen and (max-width: 640px) {
  .modal {
    width: min(400px, 80vw);
  }
}