.header {
  background-color: white;
  height: var(--header-height-md);
  text-align: center;
  padding: 0.5rem;
  display: flex;
  border-bottom: var(--border);
  justify-content: space-between;
  align-items: flex-end;
  overflow: hidden;
}

.titles {
  display: flex;
  flex-direction: column;
  height: 100%;
  text-align: left;
}

.title {
  flex: 1 1 0%;
}

.subtitle {
  flex: 1 1 0%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}

.since {
  align-items: flex-end;
}

@media screen and (max-width: 640px) {
  .header {
  
  }
}