:root {
    --brand-color: #202223;
    --text-color: var(--brand-color);
    --border-color: #eaebec;
    --border: 1px solid var(--border-color);
    --header-height-md: 80px;
    --header-height-sm: 60px;
    --font-lg: 18px;
    --font-md: 16px;
    --font-sm: 14px;
    --h1-lg: 40px;
    --h2-lg: 32px;
    --h3-lg: 24px;
    --h4-lg: 20px;
    --h1-md: 32px;
    --h2-md: 28px;
    --h3-md: 24px;
    --h4-md: 20px;
    --h1-sm: 24px;
    --h2-sm: 20px;
    --h3-sm: 18px;
    --h4-sm: 16px;
    --border-radius-default: 4px;
    --btn-primary-background: black;
    --btn-primary-color: white;
    --btn-primary-border: 1px solid black;
    --btn-outline-background: transparent;
    --btn-disabled-background: #eeeeee;
    --btn-disabled-color: #2b2b2b;
    --btn-disabled-border: none;
    --btn-font-lg: 16px;
    --btn-font-md: 16px;
    --btn-font-sm: 16px;
    --width-input: 160px;
}

h1,h2,h3,h4,div,a,p {
    color: var(--text-color);
    margin: 0;
}

h1 {
    font-size: var(--h1-lg);
}

h2 {
    font-size: var(--h2-lg);
}

h3 {
    font-size: var(--h3-lg);
}

h4 {
    font-size: var(--h4-lg);
}

@media screen and (max-width: 1024px) {
    div, p {
        font-size: var(--font-md);
    }

    h1 {
        font-size: var(--h1-md);
    }

    h2 {
        font-size: var(--h2-md);
    }

    h3 {
        font-size: var(--h3-md);
    }

    h4 {
        font-size: var(--h4-md);
    }
}

@media screen and (max-width: 640px) {
    div, p {
        font-size: var(--font-sm);
    }

    h1 {
        font-size: var(--h1-sm);
    }

    h2 {
        font-size: var(--h2-sm);
    }

    h3 {
        font-size: var(--h3-sm);
    }

    h4 {
        font-size: var(--h4-sm);
    }
}