.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content {
  box-sizing: border-box;
  width: 100%;
  padding: 0 1rem 0 2rem;
}

@media screen and (max-width: 640px) {
  .content {
    padding: 0 4px 0 4px;
  }
}