
.imgWrapper{
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-bottom: 100%;
}

.img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    overflow: hidden;
}

.placeholder {
    object-fit: cover;
}